# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Local data folders & scripts
730_data/
806_data/
730_plots/
806_plots/
test_clustering/
730_analysis.py
806_analysis.py
*.egg-info/

# Generic data and plot patterns
*.wdf
*.spc
*.txt
*.npz
*.png
*.gif

# Whitelist tracking for test assets and gruvbox palette
!gruvbox.png
!test_data/**
!test_plots/**

# Jupyter Notebooks
*.ipynb

# OS files
.DS_Store
